
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

.correct{
  background-color: #28a745!important;
}

.incorrect{
  background-color: #dc3545!important;
}
